@using ProjectComplete.Data
@using ProjectComplete.Data.ViewModels
@model NewItemsVM

@{
    ViewData["Title"] = "Create a new Item";
}
<div class="row text">
    <div class="col-md-8 col-sm-8 offset-md-2 offset-sm-2">
        <center>
            <h2>Create new Item</h2>
        </center>
        <br />
        <div class="row">
            <div class="col-md-8 col-sm-8 offset-sm-2 offset-md-2">
                <form asp-action="Create" class="row g-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea class="form-control" asp-for="Description" required></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-end" />
                        <a class="btn btn-outline-secondary" asp-action="Details" asp-controller="Collections" asp-route-id="@ViewBag.Id">Return</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
