@model IEnumerable<Item>
@{
    ViewData["Title"] = "Filter Items";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2 border-primary mb-3">
            <div class="card" style="width:15rem; height:300px; background-color: #383B40">
                <div class="card-body">
                    <h5 class="card-title" style="color: white">@item.Name</h5>
                    <p class="card-text" style="color: white">@item.Description</p>
                    <div style="position: absolute; top:15.5rem; right:6rem">
                        <a class="btn btn-primary" asp-controller="Items" asp-action="Details" asp-route-id="@item.Id">
                            <p class="card-text" style="font-size:smaller; color: white">Details</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>