@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager;
@if (User.Identity.IsAuthenticated)
{
    <div class="dropdown">
        <button class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-badge"></i> Hello @UserManager.GetUserName(User)
        </button>
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            <li>
                <a class="dropdown-item" asp-action="Index" asp-controller="Account">
                    <i class="bi bi-list"></i> Profile
                </a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    <a class="dropdown-item" asp-action="Users" asp-controller="Admin">
                        <i class="bi bi-people"></i> Users
                    </a>
                </li>
            }
        </ul>
    </div>
    <span style="padding: 5px;"></span>
    <form asp-controller="Account" asp-action="LogOut">
        <button class="btn btn-outline-danger my-2 my-sm-0">
            <i class="bi bi-box-arrow-in-right"></i> LogOut
        </button>
    </form>
}
else
{
    <a class="btn btn-outline-success me-sm-2 me-md-2" asp-controller="Account" asp-action="Login">
        <i class="bi bi-box-arrow-in-right"></i> Log in
    </a>
    <a class="btn btn-outline-primary me-sm-2 me-md-2" asp-controller="Account" asp-action="Register">
        <i class="bi bi-person-plus"></i> Register
    </a>
}
