@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager;
@using ProjectComplete.Data.Enums
@using ProjectComplete.Data.ViewModels
@model NewCollectionVM

@{
    ViewData["Title"] = "Create a new Collection";
}
<div class="row text">
    <div class="col-md-8 col-sm-8 offset-md-2 offset-sm-2">
        <h2>Create new Collection</h2>
        <br />
        <div class="row">
            <div class="col-md-8 col-sm-8 offset-sm-2 offset-md-2">
                <form asp-action="Create" class="row g-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label"></label>
                        <input asp-for="ImageUrl" id="ImageUrl" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Theme" class="control-label"> </label>
                        <select asp-for="Theme" class="form-control" asp-items="Html.GetEnumSelectList<Theme>()" required> </select>
                        <span asp-validation-for="Theme" class="ext-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="UserId" />
                        <input type="submit" value="Create" class="btn btn-outline-success float-end"/>
                        <a class="btn btn-outline-secondary" asp-action="List">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>